<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>19/07/10 23:50:23</td>   <td>0</td> <td title="&gt;&gt;DriverInstance.DriverInstanceTest()[pri:0, instance:TestExtentReports@2a2d45ba]">&gt;&gt;DriverInstanceTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/07/10 23:50:23</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExtentReports.doLogin()[pri:0, instance:TestExtentReports@2a2d45ba]">doLogin</td> 
  <td>main@466505482</td>   <td></td> </tr>
</table>
